/** @format */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: green;
}

h1 {
  padding-top: 100px;

  text-align: center;
  letter-spacing: 0.9rem;
  text-transform: uppercase;

  color: white;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

/** @format */
